.Modal {
  #modal-container {
    display: "none";
    position: "absolute";
    top: "30%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    width: "200px";
    background-color: "white";
    padding: "20px";
    border-radius: "10px";
    box-shadow: "0 0 10px rgba(0,0,0,0.5)";
    z-index: 100;
  }
  .modal-container-info {
    display: flex;
    flex-direction: column;
    .modal-container-info-header {
      display: flex;
      justify-content: space-between;
    }
    h2 {
      color: green;
    }
  }
}
